<address class="ftr__section--background">
	<div class="ftr__container">
		<div class="ftr__row ftr__block">
			<div class="ftr__item">
				<h5 class="ftr__item-title">Lorem ipsum dolor sit.</h5>
				<p class="ftr__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="ftr__item">
				<h5 class="ftr__item-title">Lorem ipsum dolor sit.</h5>
				<p class="ftr__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				<p class="ftr__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
			</div>
			<div class="ftr__item">
				<h5 class="ftr__item-title">Lorem ipsum dolor sit.</h5>
				<p class="ftr__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
			</div>
			<div class="ftr__item">
				<h5 class="ftr__item-title">Lorem ipsum dolor sit.</h5>
				<p class="ftr__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				<p class="ftr__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				<p class="ftr__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
			</div>
		</div>
		<div class="ftr__row ftr__block-2">
			<p class="ftr__item-text">Copyright Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quis eius.</p>
		</div>
	</div>
</address>