.icon__social-1,
.icon__social-2,
.icon__social-3,
.icon__social-4,
.icon__social-5,
.icon__social-6,
.icon__social-7,
.icon__social-8,
.hello__section--background:before,
.hello__section--background:after {
  background: url("../media/img/sprite-bd7957a3.svg") no-repeat;
}

.icon__social-1 {
  background-position: 66.29261976694% 100%;
  width: 512px;
  height: 512px;
}

.icon__social-2 {
  background-position: 0 100%;
  width: 512px;
  height: 512px;
}

.icon__social-3 {
  background-position: 100% 0;
  width: 512px;
  height: 512px;
}

.icon__social-4 {
  background-position: 69.05481225722917% 22.52384446074835%;
  width: 512px;
  height: 512px;
}

.icon__social-5 {
  background-position: 69.05481225722917% 60.08804108584006%;
  width: 512px;
  height: 512px;
}

.icon__social-6 {
  background-position: 100% 37.56419662509171%;
  width: 512px;
  height: 512px;
}

.icon__social-7 {
  background-position: 22.097539922313338% 100%;
  width: 512px;
  height: 512px;
}

.icon__social-8 {
  background-position: 44.195079844626676% 100%;
  width: 512px;
  height: 512px;
}

.hello__section--background:after {
  background-position: 0 60.97560975609756%;
  width: 1298px;
  height: 563px;
}

.hello__section--background:before {
  background-position: 75.75757575757575% 0;
  width: 717px;
  height: 307px;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Light'), local('i-Roboto-300'), url("../media/fonts/Roboto/woff2/Light.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Light.woff") format('woff'), url("../media/fonts/Roboto/ttf/Light.ttf") format('ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Regular'), local('i-Roboto-400'), url("../media/fonts/Roboto/woff2/Regular.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Regular.woff") format('woff'), url("../media/fonts/Roboto/ttf/Regular.ttf") format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Bold'), local('i-Roboto-700'), url("../media/fonts/Roboto/woff2/Bold.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Bold.woff") format('woff'), url("../media/fonts/Roboto/ttf/Bold.ttf") format('ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'i-GoogleSans';
  src: local('i-GoogleSans-Thin'), local('i-GoogleSans-100'), url("../media/fonts/GoogleSans/woff2/Thin.woff2") format('woff2'), url("../media/fonts/GoogleSans/woff/Thin.woff") format('woff'), url("../media/fonts/GoogleSans/ttf/Thin.ttf") format('ttf');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'i-GoogleSans';
  src: local('i-GoogleSans-Light'), local('i-GoogleSans-300'), url("../media/fonts/GoogleSans/woff2/Light.woff2") format('woff2'), url("../media/fonts/GoogleSans/woff/Light.woff") format('woff'), url("../media/fonts/GoogleSans/ttf/Light.ttf") format('ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'i-GoogleSans';
  src: local('i-GoogleSans-Regular'), local('i-GoogleSans-400'), url("../media/fonts/GoogleSans/woff2/Regular.woff2") format('woff2'), url("../media/fonts/GoogleSans/woff/Regular.woff") format('woff'), url("../media/fonts/GoogleSans/ttf/Regular.ttf") format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'i-GoogleSans';
  src: local('i-GoogleSans-Medium'), local('i-GoogleSans-500'), url("../media/fonts/GoogleSans/woff2/Medium.woff2") format('woff2'), url("../media/fonts/GoogleSans/woff/Medium.woff") format('woff'), url("../media/fonts/GoogleSans/ttf/Medium.ttf") format('ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'i-GoogleSans';
  src: local('i-GoogleSans-Bold'), local('i-GoogleSans-700'), url("../media/fonts/GoogleSans/woff2/Bold.woff2") format('woff2'), url("../media/fonts/GoogleSans/woff/Bold.woff") format('woff'), url("../media/fonts/GoogleSans/ttf/Bold.ttf") format('ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'i-GoogleSans';
  src: local('i-GoogleSans-Black'), local('i-GoogleSans-900'), url("../media/fonts/GoogleSans/woff2/Black.woff2") format('woff2'), url("../media/fonts/GoogleSans/woff/Black.woff") format('woff'), url("../media/fonts/GoogleSans/ttf/Black.ttf") format('ttf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

html,
body {
  font-family: 'i-GoogleSans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  display: -ms-grid;
  display: grid;
}

h1 {
  font-family: 'i-GoogleSans', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: normal;
  margin: unset;
}

h2 {
  font-family: 'i-GoogleSans', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: normal;
  margin: unset;
}

h3 {
  font-family: 'i-GoogleSans', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: normal;
  margin: unset;
}

h4 {
  font-family: 'i-GoogleSans', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: normal;
  margin: unset;
}

h5 {
  font-family: 'i-GoogleSans', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: normal;
  margin: unset;
}

h6 {
  font-family: 'i-GoogleSans', sans-serif;
  letter-spacing: normal;
  color: #000;
  line-height: normal;
  margin: unset;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

p {
  font-family: 'i-GoogleSans', sans-serif;
  font-size: 0.88rem;
  color: #000;
  letter-spacing: normal;
}

a,
a:hover {
  letter-spacing: normal;
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section {
  position: relative;
  overflow: hidden;
}

nav {
  font-style: normal;
}

address {
  font-style: normal;
}

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*:focus {
  outline: 0;
}

input:required,
input:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=file]::-webkit-file-upload-button {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  width: 0;
}

.height-true {
  height: auto;
}

.height-false {
  height: 0;
}

.opacity-true {
  opacity: 1;
}

.opacity-false {
  opacity: 0;
}

.display-true {
  display: -ms-grid;
  display: grid;
}

.display-false {
  display: none;
}

.item-true {
  display: -ms-grid;
  display: grid;
}

.item-false {
  display: none;
}

.view-true {
  visibility: visible;
}

.view-false {
  visibility: hidden;
}

.DELETE {
  display: none !important;
}

.DEL {
  display: none !important;
}

input:disabled,
textarea:disabled {
  background-color: rgba(0,0,0,0);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.align-self-center {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
  align-self: center;
}

.ttu {
  text-transform: uppercase;
}

.inline-svg__init {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  display: -ms-inline-grid;
  display: inline-grid;
  visibility: visible;
}

[class*='glyphs__'] {
  display: -ms-inline-grid;
  display: inline-grid;
  width: 100%;
  height: 100%;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  font-size: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.space-1,
.space-2,
.space-3 {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eee;
  border: 1px solid #bbb;
  border-right: 0;
  border-left: 0;
  font-size: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
  grid-template: 1fr/1fr;
}

.space-1:before,
.space-2:before,
.space-3:before {
  display: -ms-grid;
  display: grid;
  font-size: 5rem;
  color: #ccc;
  line-height: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.space-1 {
  height: 33vh;
}

.space-1:before {
  content: 'SPACE-1';
}

.space-2 {
  height: 66vh;
}

.space-2:before {
  content: 'SPACE-2';
}

.space-3 {
  height: 99vh;
}

.space-3:before {
  content: 'SPACE-3';
}

.btn__item,
.btn__item--big,
.btn__item--submit {
  display: -ms-grid;
  display: grid;
  -webkit-font-smoothing: antialiased;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0.15px;
  margin: 0;
  max-width: 10rem;
  width: 8rem;
  padding: 0 1rem;
  position: relative;
  z-index: 0;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__item:before,
.btn__item--big:before,
.btn__item--submit:before {
  content: '';
  display: -ms-grid;
  display: grid;
  opacity: 0;
  position: absolute;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  border-radius: 4px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.btn__item:hover,
.btn__item--big:hover,
.btn__item--submit:hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451), 0 1px 3px 1px rgba(26,115,232,0.302);
  box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451), 0 1px 3px 1px rgba(26,115,232,0.302);
}

.btn__item:active,
.btn__item--big:active,
.btn__item--submit:active {
  -webkit-box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451), 0 2px 6px 2px rgba(26,115,232,0.302);
  box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451), 0 2px 6px 2px rgba(26,115,232,0.302);
  -webkit-transform: translate(0, 2px);
  -ms-transform: translate(0, 2px);
  transform: translate(0, 2px);
}

.btn__item:focus,
.btn__item--big:focus,
.btn__item--submit:focus {
  -webkit-box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451), 0 2px 6px 2px rgba(26,115,232,0.302);
  box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451), 0 2px 6px 2px rgba(26,115,232,0.302);
}

.btn__item--big,
.btn__item--submit {
  width: 27rem;
  height: auto;
  max-width: unset;
  font-size: 2rem;
  padding: 1.7rem 3rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
}

.btn__item--big:hover,
.btn__item--submit:hover {
  -webkit-box-shadow: 0px 3px 6px 0 rgba(26,115,232,0.451), 0px 3px 9px 3px rgba(26,115,232,0.302);
  box-shadow: 0px 3px 6px 0 rgba(26,115,232,0.451), 0px 3px 9px 3px rgba(26,115,232,0.302);
}

.btn__item--big:active,
.btn__item--submit:active {
  -webkit-box-shadow: 0px 6px 9px 0 rgba(26,115,232,0.451), 0px 6px 12px 6px rgba(26,115,232,0.302);
  box-shadow: 0px 6px 9px 0 rgba(26,115,232,0.451), 0px 6px 12px 6px rgba(26,115,232,0.302);
}

.btn__item--big:focus,
.btn__item--submit:focus {
  -webkit-box-shadow: 0px 6px 9px 0 rgba(26,115,232,0.451), 0px 6px 12px 6px rgba(26,115,232,0.302);
  box-shadow: 0px 6px 9px 0 rgba(26,115,232,0.451), 0px 6px 12px 6px rgba(26,115,232,0.302);
}

.btn__item--submit {
  font-size: 1rem;
  width: 14em;
  padding: 1.2em;
}

.btn__color--blue {
  color: #fff;
  background-color: #1a73e8;
}

.btn__color--blue:hover {
  background-color: #3181ea;
}

.btn__color--blue:active {
  background-color: #1a73e8;
}

.btn__color--blue:focus {
  background-color: #3a87eb;
}

.btn__color--white {
  color: #1a73e8;
  background-color: #fff;
}

.btn__color--white:hover {
  background-color: #f2f2f2;
}

.btn__color--white:active {
  background-color: #fff;
}

.btn__color--white:focus {
  background-color: #ededed;
}

.btn__color--green {
  color: #fff;
  background-color: #4caf50;
}

.btn__color--green:hover {
  background-color: #449d48;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn__color--green:active {
  background-color: #4caf50;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn__color--green:focus {
  background-color: #419645;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn__color--disable {
  color: #9e9e9e;
  background-color: #ccc;
}

.btn__color--disable:hover {
  background-color: #bfbfbf;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn__color--disable:active {
  background-color: #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn__color--disable:focus {
  background-color: #bababa;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn__item:active::before {
  opacity: 0.12;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.owl-carousel.owl-loaded {
  display: -ms-grid;
  display: grid;
}

.owl-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
}

.owl-carousel.off {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: $$deepgreen;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #fe6e35;
}

.owl-theme .owl-dots .owl-dot span {
  width: 1rem;
  height: 1rem;
}

.glyphs__d-scrollup {
  width: 28px;
  height: 42.5px;
}

.glyphs__error {
  width: 53.867px;
  height: 53.867px;
}

.glyphs__success {
  width: 50px;
  height: 50px;
}

.glyphs__d-scrollup {
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}

.glyphs__viber {
  width: 90px;
  height: 40px;
  margin-bottom: -0.5rem;
  fill: #fff;
}

.glyphs__whatsapp {
  width: 130px;
  height: 30px;
  fill: #fff;
}

.glyphs__telegram {
  width: 108px;
  height: 26px;
  fill: #fff;
}

.glyphs__telme {
  width: 20px;
  height: 28px;
  fill: #fff;
}

.glyphs__insta {
  width: 100%;
  height: 25px;
  fill: #fff;
}

.glyphs__checked {
  margin: 0 2px;
  fill: #fe6e35;
  position: relative;
  right: -2px;
  top: -3px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.icon__social-x,
.icon__social-1,
.icon__social-2,
.icon__social-3,
.icon__social-4,
.icon__social-5,
.icon__social-6,
.icon__social-7,
.icon__social-8 {
  width: 5rem;
  height: 5rem;
  background-size: 550% 367%;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.btn__item,
.btn__item--big,
.btn__item--submit {
  display: -ms-grid;
  display: grid;
  -webkit-font-smoothing: antialiased;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0.15px;
  margin: 0;
  max-width: 10rem;
  width: 8rem;
  padding: 0 1rem;
  position: relative;
  z-index: 0;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__item:before,
.btn__item--big:before,
.btn__item--submit:before {
  content: '';
  display: -ms-grid;
  display: grid;
  opacity: 0;
  position: absolute;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  border-radius: 4px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.btn__item:hover,
.btn__item--big:hover,
.btn__item--submit:hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451), 0 1px 3px 1px rgba(26,115,232,0.302);
  box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451), 0 1px 3px 1px rgba(26,115,232,0.302);
}

.btn__item:active,
.btn__item--big:active,
.btn__item--submit:active {
  -webkit-box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451), 0 2px 6px 2px rgba(26,115,232,0.302);
  box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451), 0 2px 6px 2px rgba(26,115,232,0.302);
  -webkit-transform: translate(0, 2px);
  -ms-transform: translate(0, 2px);
  transform: translate(0, 2px);
}

.btn__item:focus,
.btn__item--big:focus,
.btn__item--submit:focus {
  -webkit-box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451), 0 2px 6px 2px rgba(26,115,232,0.302);
  box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451), 0 2px 6px 2px rgba(26,115,232,0.302);
}

.btn__item--big,
.btn__item--submit {
  width: 27rem;
  height: auto;
  max-width: unset;
  font-size: 2rem;
  padding: 1.7rem 3rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
}

.btn__item--big:hover,
.btn__item--submit:hover {
  -webkit-box-shadow: 0px 3px 6px 0 rgba(26,115,232,0.451), 0px 3px 9px 3px rgba(26,115,232,0.302);
  box-shadow: 0px 3px 6px 0 rgba(26,115,232,0.451), 0px 3px 9px 3px rgba(26,115,232,0.302);
}

.btn__item--big:active,
.btn__item--submit:active {
  -webkit-box-shadow: 0px 6px 9px 0 rgba(26,115,232,0.451), 0px 6px 12px 6px rgba(26,115,232,0.302);
  box-shadow: 0px 6px 9px 0 rgba(26,115,232,0.451), 0px 6px 12px 6px rgba(26,115,232,0.302);
}

.btn__item--big:focus,
.btn__item--submit:focus {
  -webkit-box-shadow: 0px 6px 9px 0 rgba(26,115,232,0.451), 0px 6px 12px 6px rgba(26,115,232,0.302);
  box-shadow: 0px 6px 9px 0 rgba(26,115,232,0.451), 0px 6px 12px 6px rgba(26,115,232,0.302);
}

.btn__item--submit {
  font-size: 1rem;
  width: 14em;
  padding: 1.2em;
}

.btn__color--blue {
  color: #fff;
  background-color: #1a73e8;
}

.btn__color--blue:hover {
  background-color: #3181ea;
}

.btn__color--blue:active {
  background-color: #1a73e8;
}

.btn__color--blue:focus {
  background-color: #3a87eb;
}

.btn__color--white {
  color: #1a73e8;
  background-color: #fff;
}

.btn__color--white:hover {
  background-color: #f2f2f2;
}

.btn__color--white:active {
  background-color: #fff;
}

.btn__color--white:focus {
  background-color: #ededed;
}

.btn__color--green {
  color: #fff;
  background-color: #4caf50;
}

.btn__color--green:hover {
  background-color: #449d48;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn__color--green:active {
  background-color: #4caf50;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn__color--green:focus {
  background-color: #419645;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn__color--disable {
  color: #9e9e9e;
  background-color: #ccc;
}

.btn__color--disable:hover {
  background-color: #bfbfbf;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn__color--disable:active {
  background-color: #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn__color--disable:focus {
  background-color: #bababa;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn__item:active::before {
  opacity: 0.12;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@-webkit-keyframes dots-scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  60% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@keyframes dots-scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  60% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@-webkit-keyframes size-width {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes size-width {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes radio-zoom-cyrcle {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 0%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-radius: 100%;
  }
}

@keyframes radio-zoom-cyrcle {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 0%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-radius: 100%;
  }
}

@-webkit-keyframes radio-zoom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 100%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-radius: 0%;
  }
}

@keyframes radio-zoom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 100%;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-radius: 0%;
  }
}

@-webkit-keyframes opacity-true {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity-true {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes opacity-false {
  0% {
    display: grid;
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    display: none;
  }
}

@keyframes opacity-false {
  0% {
    display: -ms-grid;
    display: grid;
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    display: none;
  }
}

@-webkit-keyframes fade-my-image {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-my-image {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes form-spiner-true {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}

@keyframes form-spiner-true {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}

@-webkit-keyframes form-spiner-false {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }

  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
}

@keyframes form-spiner-false {
  0% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }

  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
}

@-webkit-keyframes smooth-scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@keyframes smooth-scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@-webkit-keyframes smooth-x-moving {
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  90% {
    -webkit-transform: translateX(-0.45%);
    transform: translateX(-0.45%);
  }

  80% {
    -webkit-transform: translateX(0.45%);
    transform: translateX(0.45%);
  }

  80% {
    -webkit-transform: translateX(-0.9%);
    transform: translateX(-0.9%);
  }

  60% {
    -webkit-transform: translateX(0.9%);
    transform: translateX(0.9%);
  }

  70% {
    -webkit-transform: translateX(-1.35%);
    transform: translateX(-1.35%);
  }

  40% {
    -webkit-transform: translateX(1.35%);
    transform: translateX(1.35%);
  }

  60% {
    -webkit-transform: translateX(-1.8%);
    transform: translateX(-1.8%);
  }

  20% {
    -webkit-transform: translateX(1.8%);
    transform: translateX(1.8%);
  }

  50% {
    -webkit-transform: translateX(-2.25%);
    transform: translateX(-2.25%);
  }

  0% {
    -webkit-transform: translateX(2.25%);
    transform: translateX(2.25%);
  }
}

@keyframes smooth-x-moving {
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  90% {
    -webkit-transform: translateX(-0.45%);
    transform: translateX(-0.45%);
  }

  80% {
    -webkit-transform: translateX(0.45%);
    transform: translateX(0.45%);
  }

  80% {
    -webkit-transform: translateX(-0.9%);
    transform: translateX(-0.9%);
  }

  60% {
    -webkit-transform: translateX(0.9%);
    transform: translateX(0.9%);
  }

  70% {
    -webkit-transform: translateX(-1.35%);
    transform: translateX(-1.35%);
  }

  40% {
    -webkit-transform: translateX(1.35%);
    transform: translateX(1.35%);
  }

  60% {
    -webkit-transform: translateX(-1.8%);
    transform: translateX(-1.8%);
  }

  20% {
    -webkit-transform: translateX(1.8%);
    transform: translateX(1.8%);
  }

  50% {
    -webkit-transform: translateX(-2.25%);
    transform: translateX(-2.25%);
  }

  0% {
    -webkit-transform: translateX(2.25%);
    transform: translateX(2.25%);
  }
}

@-webkit-keyframes blink-blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blink-blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes swift-right-true {
  from {
    margin-right: -100%;
  }

  to {
    margin-right: 0;
  }
}

@keyframes swift-right-true {
  from {
    margin-right: -100%;
  }

  to {
    margin-right: 0;
  }
}

.hello__section--background {
  background-size: cover;
  background-position: center center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2642db), to(#1be7f7));
  background-image: -webkit-linear-gradient(left top, #2642db 0%, #1be7f7 100%);
  background-image: -o-linear-gradient(left top, #2642db 0%, #1be7f7 100%);
  background-image: linear-gradient(to right bottom, #2642db 0%, #1be7f7 100%);
}

.hello__section--background:before {
  content: '';
  display: -ms-grid;
  display: grid;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-25%, 0%);
  -ms-transform: translate(-25%, 0%);
  transform: translate(-25%, 0%);
}

.hello__section--background:after {
  content: '';
  display: -ms-grid;
  display: grid;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(50%, 0%);
  -ms-transform: translate(50%, 0%);
  transform: translate(50%, 0%);
}

.hello__container {
  display: -ms-grid;
  display: grid;
  grid: auto/1fr;
  max-width: 1300px;
  min-height: 100vh;
  width: 100vw;
  height: auto;
  margin: auto;
  position: relative;
  z-index: 1;
  padding: 2rem;
}

.hello__row {
  display: -ms-grid;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(31rem, 1fr));
  place-items: center stretch;
  gap: 1rem;
}

.hello__h1 {
  color: #fff;
  text-transform: uppercase;
  display: -ms-grid;
  display: grid;
  grid: auto/1fr;
  text-align: center;
}

.hello__h1-span:nth-of-type(1) {
  font-size: 6rem;
  padding-bottom: 3rem;
}

.hello__h1-span:nth-of-type(2) {
  font-size: 2rem;
}

.hello__h1-span:nth-of-type(3) {
  font-size: 1.77rem;
}

.preform__container {
  display: none;
  grid: auto/1fr;
  place-items: center center;
  gap: 2rem;
}

.brief__container {
  display: none;
  overflow: hidden;
  grid: auto minmax(1rem, 30rem) auto/1fr;
  gap: 2rem;
  max-width: 38rem;
  height: 40rem;
  padding: 1.7rem 2rem;
  margin: auto;
  border: 1px solid #dadce0;
  border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
  -webkit-transition: border 0.15s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 0.15s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border 0.15s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 0.15s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 0.15s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.brief__container:hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  border: 1px solid rgba(0,0,0,0);
}

.brief__row {
  display: -ms-grid;
  display: grid;
  grid: auto/1fr;
  gap: 1rem 3rem;
  place-items: start stretch;
  position: relative;
}

.brief__title {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.brief__title-small {
  display: -ms-grid;
  display: grid;
  grid: auto 0/1fr;
}

.brief__item {
  display: -ms-grid;
  display: grid;
}

.brief__item--center {
  place-items: center;
}

.brief__label,
.brief-group-a__label,
.brief-group-b__label,
.brief-group-e__label {
  padding-bottom: 0.4rem;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-weight: 700;
}

.brief__input {
  border: 2px solid rgba(0,0,0,0);
  border-radius: 4px;
  background-color: #ededed;
  padding: 0.4rem 0.8rem;
  font-weight: 700;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.brief__input:hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(221,221,221,0.451), 0 1px 3px 1px rgba(221,221,221,0.302);
  box-shadow: 0 1px 2px 0 rgba(221,221,221,0.451), 0 1px 3px 1px rgba(221,221,221,0.302);
  background-color: #ddd;
  border: 2px solid rgba(0,0,0,0);
}

.brief__input:focus {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
}

.brief__lodash {
  opacity: 0;
  height: 2px;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  font-size: 0;
  display: -ms-grid;
  display: grid;
  -webkit-transform: scaleX(0) translateY(-2px);
  -ms-transform: scaleX(0) translateY(-2px);
  transform: scaleX(0) translateY(-2px);
  background: #1a73e8;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.brief__lodash--red {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 2px solid #f44336;
  margin-bottom: -2px;
}

.brief__span-numb {
  display: -ms-grid;
  display: grid;
  grid: auto/2fr 1fr;
  gap: 1rem;
  text-align: right;
}

.brief__span-selectall:hover {
  color: #1a73e8;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.brief-title__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.brief-title__hr,
.brief-group-a__hr {
  display: -ms-grid;
  display: grid;
  height: 5px;
  border: 0;
  background-color: #2073e6;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.brief-group__container {
  display: -ms-grid;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(1rem, 1fr));
}

.brief-group__row {
  display: -ms-grid;
  display: grid;
}

.brief-group__item {
  display: none;
}

.brief-group-a__top img {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
}

.brief-group-a__top img:hover {
  -webkit-box-shadow: 0 2px 4px 0 rgba(60,64,67,0.302), 0 4px 9px 4px rgba(60,64,67,0.149);
  box-shadow: 0 2px 4px 0 rgba(60,64,67,0.302), 0 4px 9px 4px rgba(60,64,67,0.149);
}

.brief-group-a__container {
  display: none;
  grid: 1fr auto auto/1fr;
  gap: 1rem;
}

.brief-group-a__text {
  max-height: 14rem;
  overflow: hidden;
}

.brief-group-a__text-title {
  font-weight: 700;
}

.brief-group-a__nav {
  display: -ms-grid;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
}

.brief-group-a__title {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.brief-group-a__hr {
  -webkit-animation: unset;
  animation: unset;
  height: 2px;
}

.brief-group-a__radio[type="radio"] {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
}

.brief-group-a__label,
.brief-group-b__label,
.brief-group-e__label {
  margin-left: 1.5rem;
  position: relative;
}

.brief-group-a__label:before,
.brief-group-b__label:before,
.brief-group-e__label:before {
  content: '';
  display: -ms-grid;
  display: grid;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  background-color: rgba(0,0,0,0);
  border: 1px solid #ccc;
  position: absolute;
  left: -1.5rem;
}

.brief-group-a__label:hover,
.brief-group-b__label:hover,
.brief-group-e__label:hover {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  color: #609eef;
}

.brief-group-b__container {
  display: none;
  grid: auto repeat(4, 1fr)/1fr;
  gap: 1rem;
}

.brief-group-b__chebox[type="checkbox"] {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
}

.brief-group-b__label {
  display: -ms-grid;
  display: grid;
  grid: auto 1fr/1fr;
  gap: 0.4rem;
}

.brief-group-b__label:before {
  border-radius: 0%;
}

.brief-group-b__span {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: none;
}

.brief-group-b__span-name {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

.brief-group-b__title {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  grid: auto/auto 2fr 1fr;
  place-items: end;
}

.brief-group-c__container {
  display: none;
  grid: auto 1fr/1fr;
  gap: 1rem;
}

.brief-group-c__row {
  display: -ms-grid;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(8rem, 1fr));
  text-align: center;
  gap: 1rem;
}

.brief-group-c__chebox[type="checkbox"] {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
}

.brief-group-c__span-text {
  font-size: 0.8rem;
  font-weight: normal;
}

.brief-group-c__label {
  display: -ms-grid;
  display: grid;
  grid: auto/1fr;
  gap: 0rem;
}

.brief-group-c__label:hover {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  border-radius: 1rem 1rem 1rem 1rem;
}

.brief-group-c__label:active {
  -webkit-transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0 14px 40px 0 rgba(26,115,232,0.4), 0 20px 60px 2px rgba(26,115,232,0.2);
  box-shadow: 0 14px 40px 0 rgba(26,115,232,0.4), 0 20px 60px 2px rgba(26,115,232,0.2);
  border-radius: 1rem 1rem 1rem 1rem;
}

.brief-group-d__container {
  display: none;
  grid: auto/1fr;
  place-items: start stretch;
  gap: 1rem;
}

.brief-group-d__row {
  display: -ms-grid;
  display: grid;
  grid: auto/1fr;
  gap: 1rem;
  max-height: 27rem;
}

.brief-group-d__item {
  display: -ms-grid;
  display: grid;
  grid: auto/1fr 2fr;
  gap: 1rem;
  place-items: start stretch;
}

.brief-group-e__container {
  display: none;
  grid: auto/1fr;
  place-items: start stretch;
  gap: 1rem;
}

.brief-group-e__row {
  display: -ms-grid;
  display: grid;
  grid: auto/1fr;
  place-items: start stretch;
  gap: 1rem;
}

.brief-group-e__chebox {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
}

.brief-group-e__label {
  display: -ms-grid;
  display: grid;
  grid: auto/1fr;
  gap: 0.4rem;
  font-size: 0.8rem;
}

.brief-price__title {
  font-weight: 700;
  font-size: 1.2rem;
}

.brief-price__item--final {
  font-size: 2rem;
  color: #f44336;
  font-weight: 700;
  display: -ms-grid;
  display: grid;
}

.brief-price__selected {
  background-color: rgba(26,115,232,0.09);
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
}

.brief-price__selected:hover {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  border-radius: 1rem 1rem 1rem 1rem;
}

.brief-nav__container {
  display: -ms-grid;
  display: grid;
  grid: auto/auto 1fr auto;
  place-items: center stretch;
  gap: 1rem;
}

.brief-nav__dots {
  display: -ms-grid;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(2rem, 1fr));
  place-items: center center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.brief-nav__dot {
  display: -ms-grid;
  display: grid;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ccc;
  border-radius: 100%;
}

.solution__section--background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.solution__container {
  display: -ms-grid;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(1rem, 1fr));
  max-width: 1300px;
  width: 100vw;
  height: 100%;
  margin: auto;
  padding: 10rem 0;
}

.solution__row {
  display: -ms-grid;
  display: grid;
  place-items: center stretch;
  grid: auto/repeat(auto-fit, minmax(26rem, 1fr));
  gap: 1rem;
}

.solution__item {
  display: -ms-grid;
  display: grid;
  text-align: center;
  place-items: center;
  gap: 1rem;
}

.info__section--background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2642db), to(#1be7f7));
  background-image: -webkit-linear-gradient(left top, #2642db 0%, #1be7f7 100%);
  background-image: -o-linear-gradient(left top, #2642db 0%, #1be7f7 100%);
  background-image: linear-gradient(to right bottom, #2642db 0%, #1be7f7 100%);
}

.info__container {
  display: -ms-grid;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(1rem, 1fr));
  max-width: 992px;
  width: 100vw;
  height: 100%;
  margin: auto;
  padding: 10rem 0;
}

.info__row {
  display: -ms-grid;
  display: grid;
  place-items: center stretch;
  gap: 3rem;
}

.info__item-block {
  display: -ms-grid;
  display: grid;
  grid: auto/1fr 2fr;
  gap: 4rem;
}

.info__item-text {
  font-size: 1.4rem;
  color: #fff;
  place-items: center center;
  display: -ms-grid;
  display: grid;
}

.promo__section--background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #ddd;
}

.promo__container {
  display: -ms-grid;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(1rem, 1fr));
  max-width: 768px;
  width: 100vw;
  height: 100%;
  margin: auto;
  padding: 10rem 0;
}

.promo__row {
  display: -ms-grid;
  display: grid;
  place-items: center stretch;
}

.promo__item p {
  font-size: 1rem;
}

.hdr__fixed {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 3;
  margin: auto;
}

@media (max-width: 425.98px) {
  .hdr__fixed {
    position: fixed;
  }
}

.hdr__section--background {
  background-size: cover;
  background-position: center center;
  background-color: rgba(0,0,0,0);
}

.hdr__container {
  display: -ms-grid;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(25rem, auto));
  gap: 0 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
}

.hdr__container a {
  color: #fff;
}

@media (max-width: 1266.98px) {
  .hdr__container {
    padding: 0 1rem;
    gap: 0.3rem;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}

@media (max-width: 1266.98px) {
  .hdr__logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

@media (max-width: 425.98px) {
  .hdr__logo {
    display: none;
  }
}

.hdr__logo-p {
  font-size: 1.1rem;
  color: #fff;
}

.hdr__social {
  display: -ms-grid;
  display: grid;
  grid: auto/repeat(3, auto);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  gap: 1rem;
}

@media (max-width: 1266.98px) {
  .hdr__social {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}

@media (max-width: 833.98px) {
  .hdr__social {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

@media (max-width: 424.98px) {
  .hdr__social {
    grid: auto auto/1fr;
  }
}

.hdr__links-item:hover:nth-child(-n+3) {
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
}

@media (max-width: 424.98px) {
  .hdr__links-item:hover:nth-child(-n+3) {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }
}

.hdr__links-item:active {
  -webkit-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

.hdr__phone {
  display: -ms-grid;
  display: grid;
  grid: auto/auto auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  gap: 0 1rem;
}

@media (max-width: 833.98px) {
  .hdr__phone {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}

@media (max-width: 424.98px) {
  .hdr__phone {
    grid: auto auto/1fr;
  }
}

.hdr__phone-href {
  display: -ms-grid;
  display: grid;
  grid: auto/auto 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 0.4rem;
}

.hdr__phone-p {
  font-size: 1.1rem;
  color: #fff;
}

.hdr__phone-cyrcle {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #1a73e8;
  border-radius: 100%;
}

.hdr__menu {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 425.98px) {
  .hdr__menu {
    display: -ms-grid;
    display: grid;
    grid: repeat(3, 1fr)/1fr;
    gap: 0.5rem 0;
    position: fixed;
    right: 1rem;
    top: 1rem;
    -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hdr__menu:hover {
    cursor: pointer;
  }
}

.hdr__menu-line {
  width: 2rem;
  height: 0.25rem;
  display: -ms-grid;
  display: grid;
  background: #1a73e8;
  border-radius: 1rem 1rem 1rem 1rem;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 425.98px) {
  .hdr__menu--background {
    background: rgba(0,0,0,0);
    padding: 0 1rem 2rem;
    margin-top: -100%;
    -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.ftr__section--background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #202326;
}

.ftr__container {
  display: -ms-grid;
  display: grid;
  grid: auto/1fr;
  max-width: 1300px;
  width: 100vw;
  height: 100%;
  margin: auto;
  gap: 1rem;
  padding: 5rem 0 0;
}

.ftr__row {
  display: -ms-grid;
  display: grid;
  place-items: center stretch;
  gap: 1rem;
}

.ftr__block {
  display: -ms-grid;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(16rem, 1fr));
  place-items: baseline stretch;
  gap: 1rem;
}

.ftr__block-2 {
  display: -ms-grid;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(16rem, 1fr));
  place-items: center stretch;
  gap: 1rem;
  margin: auto;
}

.ftr__item-title {
  color: #fff;
}

.ftr__item-text {
  color: #aaa;
}

.scrollup__section--background {
  background-size: cover;
  background-position: center center;
  background-color: #ddd;
}

.scrollup__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 3rem;
  height: 3rem;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.scrollup__container:hover {
  background-color: #fff;
  border-radius: 100%;
}

.unknown-page__section--background {
  background-size: cover;
  background-position: center center;
  background-color: rgba(0,0,0,0);
}

.unknown-page__container {
  display: -ms-grid;
  display: grid;
  grid: 1fr/0.4fr 0.6fr;
  min-height: 88vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-gap: 5rem;
  max-width: 1400px;
  margin: auto;
}

@media (max-width: 992.98px) {
  .unknown-page__container {
    grid: auto/repeat(auto-fit, minmax(19rem, auto));
    padding: 0 1rem;
    grid-gap: 1rem;
  }
}

.unknown-page__left {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  padding: 1rem;
}

@media (max-width: 672.98px) {
  .unknown-page__left {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
}

.unknown-page__right {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  padding: 1rem;
}

.unknown-page__symbol {
  background-color: #ddd;
  border-radius: 10px 10px 10px 10px;
  width: 2rem;
  height: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unknown-page__ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

.unknown-page__href {
  font-weight: 700;
  color: #f44336;
  font-size: 1.2rem;
  letter-spacing: unset;
}

.unknown-page__href:hover {
  letter-spacing: unset;
}

.unknown-page__title {
  display: -ms-grid;
  display: grid;
  color: #000;
}

.unknown-page__h2 {
  display: -ms-grid;
  display: grid;
  color: #f44336;
}

[data-form-open="true"] {
  display: -ms-grid;
  display: grid;
}

[data-form-open="false"] {
  display: none;
}

.brief-group-e__container .brief__label {
  cursor: default;
}

.brief-group__item.item-active {
  display: -ms-grid;
  display: grid;
}

.preform__container.item-active {
  display: -ms-grid;
  display: grid;
}

.brief__container.item-active {
  display: -ms-grid;
  display: grid;
}

.brief-nav__dot.item-active {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #1a73e8;
  -webkit-animation: dots-scale 0.35s both;
  animation: dots-scale 0.35s both;
}

.brief-group-a__top .brief__item {
  display: none;
}

.brief-group-a__top .brief__item.item-active {
  display: -ms-grid;
  display: grid;
  grid: auto/repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;
}

.brief-group-e__chebox:checked + .brief-group-e__label,
.brief-group-b__chebox:checked + .brief-group-b__label,
.brief-group-a__radio:checked + .brief-group-a__label {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  color: #1a73e8;
}

.brief-group-e__chebox:checked + .brief-group-e__label:before,
.brief-group-b__chebox:checked + .brief-group-b__label:before,
.brief-group-a__radio:checked + .brief-group-a__label:before {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #1a73e8;
  border: 1px solid #1a73e8;
  -webkit-animation: radio-zoom 0.25s both;
  animation: radio-zoom 0.25s both;
}

.brief-group-b__chebox:checked + .brief-group-b__label:before {
  content: '✓';
  background-color: rgba(0,0,0,0);
  font-size: 1.4rem;
  line-height: 0.4;
  -webkit-animation: none;
  animation: none;
}

.brief-group-c__chebox:checked + .brief-group-c__label {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(26,115,232,0.5), 0 2px 6px 2px rgba(26,115,232,0.25);
  box-shadow: 0 1px 2px 0 rgba(26,115,232,0.5), 0 2px 6px 2px rgba(26,115,232,0.25);
  border-radius: 1rem 1rem 1rem 1rem;
}

.brief__input:focus + .brief__lodash {
  opacity: 1;
  -webkit-transform: scaleX(1) translateY(-2px);
  -ms-transform: scaleX(1) translateY(-2px);
  transform: scaleX(1) translateY(-2px);
  border-radius: 0rem 0rem 1rem 1rem;
}

.anima-phone-true {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: form-spiner-true 0.15s both;
  animation: form-spiner-true 0.15s both;
}

.anima-phone-false {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: form-spiner-false 0.22s both;
  animation: form-spiner-false 0.22s both;
}

.anima-active {
  -webkit-animation: smooth-scale 5s both infinite;
  animation: smooth-scale 5s both infinite;
}

.fadeMyImage {
  -webkit-animation: fade-my-image 0.5s both;
  animation: fade-my-image 0.5s both;
}

.page-phone__container:hover .page-phone__mask {
  border: 2px solid #fe6e35;
  background: rgba(0,0,0,0);
  color: #fff;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.page-phone__container:hover .page-phone__mask::-webkit-input-placeholder {
  color: #fff;
}

.page-phone__container:hover .page-phone__mask:-ms-input-placeholder {
  color: #fff;
}

.page-phone__container:hover .page-phone__mask::-ms-input-placeholder {
  color: #fff;
}

.page-phone__container:hover .page-phone__mask::placeholder {
  color: #fff;
}

.page-phone__container:hover .page-phone__mask:focus::-webkit-input-placeholder {
  -webkit-user-select: none;
  user-select: none;
}

.page-phone__container:hover .page-phone__mask:focus:-ms-input-placeholder {
  -ms-user-select: none;
  user-select: none;
}

.page-phone__container:hover .page-phone__mask:focus::-ms-input-placeholder {
  -ms-user-select: none;
  user-select: none;
}

.page-phone__container:hover .page-phone__mask:focus::placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hdr__menu.item-active >:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(1.04rem);
  -ms-transform: rotate(45deg) translateY(1.04rem);
  transform: rotate(45deg) translateY(1.04rem);
}

.hdr__menu.item-active >:nth-child(2) {
  width: 0;
}

.hdr__menu.item-active >:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-1.04rem);
  -ms-transform: rotate(-45deg) translateY(-1.04rem);
  transform: rotate(-45deg) translateY(-1.04rem);
}

.hdr__menu.item-active {
  right: 0.55rem;
}

.hdr__menu--background.item-active {
  background: rgba(0,0,0,0.667);
  margin-top: 0;
}

.hdr__phone-href:hover .hdr__phone-cyrcle {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #0081ef;
}

.page-phone__tooltip[data-tooltips="true"] {
  display: -ms-grid;
  display: grid;
  -webkit-animation: opacity-true 0.3s both;
  animation: opacity-true 0.3s both;
}

.page-phone__tooltip[data-tooltips="false"] {
  -webkit-animation: opacity-false 0.3s both;
  animation: opacity-false 0.3s both;
}