//============================
//    	Name: BUTTONS
//============================

btn {
	+__() {
		.item {
			display: grid;
			-webkit-font-smoothing: antialiased;
			align-items: center;
			justify-content: center;
			bord .4rem
			border: none;
			cursor: pointer;
			user-select none
			outline: none;
			font-size: 1rem;
			font-weight: 500;
			height: 36px;
			letter-spacing: .15px;
			margin: 0;
			max-width: 10rem;
			width 8rem
			padding: 0 1rem;
			position: relative;
			z-index: 0;
			transition .25s __cubic
			&:before {
				content: '';
				display: grid;
				opacity: 0;
				position: absolute;
				transition-duration: .15s;
				transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
				z-index: -1;
				bottom: 0;
				left: 0;
				right: 0;
				top: 0;
				background: $$white;
				border-radius: 4px;
				transform: scale(0);
				transition-property: transform,opacity;
			}
			&:hover {
				box-shadow: 0 1px 2px 0 rgba($$blue, .451),
				 0 1px 3px 1px rgba($$blue, .302);
			}
			&:active {
				box-shadow: 0 1px 2px 0 rgba($$blue, .451),
				 0 2px 6px 2px rgba($$blue, .302);
				transform translate(0, 2px)
			}
			&:focus {
				box-shadow: 0 1px 2px 0 rgba($$blue, .451),
				 0 2px 6px 2px rgba($$blue, .302);
			}
		}
		
		
		.item--big {
			x = rgba($$blue, .451);
			y = rgba($$blue, .302);
			@extend .btn__item
			width: 27rem;
			height: auto;
			max-width: unset;
			font-size: 2rem;
			padding: 1.7rem 3rem;
			text-transform: uppercase;
			font-weight: 700;
			bord .7rem
			
			&:hover {
				box-shadow: 0px 3px 6px 0 x, 0px 3px 9px 3px y;
			}
			&:active {
				box-shadow: 0px 6px 9px 0 x, 0px 6px 12px 6px y;
			}
			&:focus {
				box-shadow: 0px 6px 9px 0 x, 0px 6px 12px 6px y;
			}
		}
		.item--submit {
			@extend .btn__item--big
			font-size: 1rem;
			width: 14em;
			padding: 1.2em;
		}
		
		
		.color--blue {
			color: $$white;
			background-color: $$blue;
			&:hover {
				background-color: lighten($$blue, 5);
			}
			&:active {
				background-color: $$blue;
			}
			&:focus {
				background-color: lighten($$blue, 7);
			}
		}
		.color--white {
			color: $$blue;
			background-color: $$white;
			&:hover {
				background-color: darken($$white, 5);
			}
			&:active {
				background-color: $$white;
			}
			&:focus {
				background-color: darken($$white, 7);
			}
		}
		.color--green {
			color: $$white;
			background-color: $$green;
			&:hover {
				background-color: darken($$green, 5);
				box-shadow none
			}
			&:active {
				background-color: $$green;
				box-shadow none
			}
			&:focus {
				background-color: darken($$green, 7);
				box-shadow none
			}
		}
		.color--disable {
			color: $$grey;
			background-color: #ccc;
			&:hover {
				background-color: darken(#ccc, 5);
				box-shadow none
			}
			&:active {
				background-color: #ccc;
				box-shadow none
			}
			&:focus {
				background-color: darken(#ccc, 7);
				box-shadow none
			}
		}
	}
}

.btn__item:active::before {
	opacity: .12;
	transform: scale(1);
}

 